<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Latinforimagination</title>

		<link href="" rel="stylesheet" type="text/css" />
		<script src="assets/scripts/socket.io.js"></script>
	</head>

	<body>

		<div>
			Stuff needs to go here.
		</div>

		<script>
			/*var canvas = document.getElementById("background-canvas");
			var ctx = canvas.getContext('2d');

			for(var i = 0; i < 2000; i++){
			    for(var j = 0; j < 400; j++){
			        
			        ctx.fillStyle= 'rgb('+Math.floor(Math.random()*255)+','+Math.floor(Math.random()*255)+','+Math.floor(Math.random()*255)+')';
			        ctx.fillRect(_g(i), _g(j), _g(1), _g(1));

			    }
			}*/
		</script>

	</body>

</html>