<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Latinforimagination</title>

		<link href="/assets/css/index.css" rel="stylesheet" type="text/css" />
		<script src="/assets/scripts/socket.io.js"></script>
		<script src="/assets/scripts/handlebars-v2.0.0.js"></script>
	</head>

	<body>

		<div class="game"> 
		    <div class="hand" id="opponentHand"></div>
		    <div class="board">
		        <div class="playArea" id="opponentPlayArea"></div>
		        <div class="betArea" id="betArea"></div>
		        <div class="playArea" id="playArea"></div>
		    </div>
		    <div class="hand" id="hand"></div>
		</div>
		<div style="clear:both;">Stake: 15 points. <br/>5 Advantage </div>


		<!--TEMPLATES-->

		<script id="template_hand" type="text/x-handlebars-template">
			{{#each cards}}
	       		<div class="card">{{this}}</div>
	       	{{/each}}
		</script>

		<script id="template_playArea" type="text/x-handlebars-template">
			{{#each cards}}
	       		<div class="card {{#if this.rotated}}rotated{{/if}}">{{this.card}}</div>
	       	{{/each}}
		</script>

		<script id="template_betArea" type="text/x-handlebars-template">
			{{#each cards}}
				<div class="card">{{this}}</div>
			{{/each}}
		</script>

		<!--SCRIPTS-->

		<script src="assets/scripts/local_game.js"></script>

		<script>
			var templates = {}
			templates.hand = Handlebars.compile(document.querySelector("#template_hand").innerHTML);
			templates.playArea = Handlebars.compile(document.querySelector("#template_playArea").innerHTML);
			templates.betArea = Handlebars.compile(document.querySelector("#template_betArea").innerHTML);


			document.getElementById("hand").innerHTML = templates.hand({cards:[1, 2, 4, 3, 7]});
			document.getElementById("betArea").innerHTML = templates.betArea({cards:[3,3,3,3]});
			document.getElementById("playArea").innerHTML = templates.playArea({cards:[{card:1, rotated:true}, {card:1, rotated:false}]});


		</script>
	</body>

</html>