<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Latinforimagination</title>

		<link href="/assets/css/index.css" rel="stylesheet" type="text/css" />
		<script src="/assets/scripts/socket.io.js"></script>
		<script src="/assets/scripts/handlebars-v2.0.0.js"></script>
	</head>

	<body>

		<div class="game"> 
		    <div class="hand" >
		        <div class="card hidden"></div>
		        <div class="card hidden"></div>
		        <div class="card hidden"></div>
		    </div>
		    <div class="board">
		        <div class="playArea">
		            <div class="card hidden"></div>
		            <div class="card hidden rotated"></div>
		        </div>
		        <div class="betArea">
		            <div class="card"></div>
		            <div class="card hidden"></div>
		        </div>
		        <div class="playArea">
		            <div class="card"></div>
		            <div class="card"></div>
		            <div class="card"></div>
		        </div>
		    </div>
		    <div class="hand">
		        <div class="card"></div>
		        <div class="card"></div>
		        <div class="card"></div>
		        <div class="card"></div>
		    </div>
		</div>
		<div style="clear:both;">Stake: 15 points. <br/>5 Advantage </div>

		<script src="assets/scrips/local_game.js"></script>

		<script>
			console.log("connecting");
			var socket = io.connect('http://localhost:3000');

			socket.on('connect', function() {
				console.log('connected');

				socket.emit("join", {});
			});


			//Recieve results
			socket.on('response', function(data) {
				//Get results and translate them into doing stuff.	
			});

		</script>




		<!--<script id="board">

			<div class="hand" >
				{{#each o_card_hand}}
		        <div class="card hidden"></div>
		        <div class="card hidden"></div>
		        <div class="card hidden"></div>
		    </div>
		    <div class="board">
		        <div class="playArea">
		            <div class="card hidden"></div>
		            <div class="card hidden rotated"></div>
		        </div>
		        <div class="betArea">
		            <div class="card"></div>
		            <div class="card hidden"></div>
		        </div>
		        <div class="playArea">
		            <div class="card"></div>
		            <div class="card"></div>
		            <div class="card"></div>
		        </div>
		    </div>
		    <div class="hand">
		        <div class="card"></div>
		        <div class="card"></div>
		        <div class="card"></div>
		        <div class="card"></div>
		    </div>


			/*var canvas = document.getElementById("background-canvas");
			var ctx = canvas.getContext('2d');

			for(var i = 0; i < 2000; i++){
			    for(var j = 0; j < 400; j++){
			        
			        ctx.fillStyle= 'rgb('+Math.floor(Math.random()*255)+','+Math.floor(Math.random()*255)+','+Math.floor(Math.random()*255)+')';
			        ctx.fillRect(_g(i), _g(j), _g(1), _g(1));

			    }
			}*/
		</script>-->

	</body>

</html>